{extend name="layout" /}
{block name='right'}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        管理员管理
        <span class="c-gray en">&gt;</span>
        管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c"> 日期范围：
                <input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称"  name="">
                <button type="submit" class="btn btn-success"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l"> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="{:url('create')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a> </span>
                <span class="r">共有数据：<strong>54</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="9">员工列表</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="40">编号</th>
                    <th width="150">姓名</th>
                    <th width="150">角色名称</th>
                    <th width="130">加入时间</th>
                    <th width="100">是否已启用</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='list' id='vo'}
                <tr class="text-c">
                    <td><input type="checkbox" value="{$vo.id}" name=""></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.role_name}</td>
                    <td>{$vo.create_time}</td>
                    <td>{$vo.status}</td>
                    <td class="td-manage">
                        {if condition ="$vo.id neq 1"}
                        <a style="text-decoration:none" onClick="admin_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
                        <a title="编辑" href="{:url('edit',['id'=>$vo.id])}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                        <a title="删除" href="javascript:;"  link="{:url('delete',['id'=>$vo.id])}" class="ml-5 del" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        {/if}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </article>
    </div>
</section>
{/block}