{extend name="layout" /}
{block name='right'}
<section class="Hui-article-box">
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 管理员管理
        <span class="c-gray en">&gt;</span> 角色管理
        <span class="c-gray en">&gt;</span> 添加角色
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="cl pd-20">
    <form action="{:url('save')}"  class="form form-horizontal">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="roleName" name="name" datatype="*4-16">
            </div>
        </div>
        <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-3">备注：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
        <!--<input type="text" class="input-text" value="" placeholder="" id="" name="">-->
        <!--</div>-->
        <!--</div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">网站角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {volist name="permission_list" id="vo"}
                <dl class="permission-list">
                    <dt>
                        <label>
                            <input type="checkbox" value="{$vo.id}" name="perid[]">
                            {$vo.name}
                        </label>
                    </dt>
                    <dd>
                        <dl class="cl permission-list2">
                            {volist name="vo.child" id="vo1"}
                            <dt>
                                <label class="">
                                    <input type="checkbox" value="{$vo1.id}" name="perid[]">
                                    {$vo1.name}</label>
                            </dt>
                            {/volist}
                        </dl>
                    </dd>
                </dl>
                {/volist}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>
</section>
{/block}