{extend name="layout" /}
{block name='right'}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        分类管理
        <span class="c-gray en">&gt;</span>
        添加分类
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="page-container">
            <form class="form form-horizontal" action="{:url('save')}">
                <input type="hidden" value="{$info.id}" name="id">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                        <input type="text" class="input-text" placeholder=""  name="title" value="{$info.title}">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">排序值：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                        <input type="text" class="input-text" value="{$info.sort}" placeholder=""  name="sort">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">状态：</label>
                    <div class="formControls col-xs-8 col-sm-4 skin-minimal">
                        <div class="radio-box">
                            <input name="status" type="radio" value="1" {$info.status=='启用'?'checked':''} >
                            <label >启用</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio"  value="0" name="status" {$info.status=='禁用'?'checked':''}>
                            <label >禁止</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                        <button type="button" class="layui-btn" id="test1">上传图片</button>
                        <div class="layui-upload-list">
                            <img style="width:200px" class="layui-upload-img" id="demo1" src="{$info.img}" width="200">
                            <p id="demoText"></p>
                            <input type="hidden" name="img" id="img" value="{$info.img}">

                        </div>
                    </div>
                </div>

                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                    </div>
                </div>
            </form>
        </article>
    </div>
</section>
<script type="text/javascript" src="/admin/lib/layui/layui.js"></script>
<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: "{:url('Upload/upload')}" //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //上传成功
                if(res.code == 1){
                    $('#img').val(res.url);
                    return layer.msg(res.msg);
                }else{
                //上传失败
                    return layer.msg(res.msg);
                }

            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });

</script>
{/block}
